{% extends 'base.html' %}

{% block content %}
    {% if wk_token and not token_finished_downloading %}
        <div class="alert alert-info" role="alert">
            Your learning status is being downloaded in the background. This page will refresh automatically every few seconds.
        </div>
    {% endif %}

    {% if wk_token %}
    <ul class="nav">
        {% for language, name in supported_languages.items() %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('recommendations', language=language) }}">{{ name }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% for recommendation in recommendations %}
    <article class="card" style="width: 18rem;">
        <div class="card-header text-muted">
            <span class="text-collection tagstyle">{{ recommendation.collection }}</span>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ recommendation.title }}</h5>
            <p class="card-text">
                <ul>
                    <li>learning ({{ recommendation.learning|length }}): {{ ' '.join(recommendation.learning) }}</li>
                    <li>unknown ({{ recommendation.unknown|length }}): {{ ' '.join(recommendation.unknown) }}</li>
                    <li>known ({{ recommendation.known|length }}): {{ ' '.join(recommendation.known) }}</li>
                </ul>
            </p>
            {% if recommendation.url %}
                <a href="{{ url_for('redirect_read', url=recommendation.url, mark_read=1) }}" class="btn btn-primary">Read text</a>
                <br/>
                <br/>
                <a href="{{ url_for('redirect_read', url=recommendation.url, mark_read=0) }}" class="card-link">Read text without marking as finished</a>
            {% endif %}
        </div>
    </article>
    {% endfor %}

    {% if most_common_words|length > 0 %}
        <h2>Most Common Unknown Words</h2>

        <p>Use these most common words to quickly create a list of words that you already know.</p>

        <ul>
        {% for word in most_common_words %}
            <li>{{ word }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
